
/* exo-2-regular - latin */

:root {
  /* five color pallette */
  --color1: #d1e8e2;
  --color2: #ffcb9a;
  --color3: #d9b08c;
  --color4: rgb(17, 100, 102);
  --color5: rgb(44, 53, 49);

  /* accent  */
  --light: var(--color1);
  --dark: var(--color5);
  --darker: #111413;

  
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-three: calc(3rem);
  --spacing-five: calc(2.5rem);
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0 auto;
  max-width: 90%;
  color:var(--color3);
  background-color: var(--darker);
}

body {
  font-family: 'Exo 2', sans-serif;
  line-height:1.5;
}



h1, h2, h3, h4, h5, p {
  font-weight: normal;
}

p{
  margin:.5em;
  line-height: 1.2em;

}

.portfolio-header {
  color: var(--light);
}

header {
  width:100%;
  background-color: var(--darker);
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: space-between;
  padding: 15px 6% 15px 0;
}
.developer {
  font-size: 2em;
  align-items: center;
  padding: 5px 1% 5px 6%;
}

.nav {
  font-size: 1.5em;
  list-style: none;
  display: flex;
  flex-wrap:wrap;
  /* align-items: flex-start; */
  /* justify-content: space-between; */
  gap:25px;
}

hr {
  width:650px;
  border:1px solid var(--color4);
  margin-bottom: 20px;
}

.hr-project {
  width:650px;
  border:1px solid var(--color4);
  margin-top:20px;
  margin-bottom: 20px;
}

.page-container{
  min-height:55vh;
}

.project-img {
  margin-left: 5%;
  margin-top:1%;
  max-height:50 vh;
}

@media screen and (max-width:520px){
  .nav {
    gap:5px;
  }
}
.nav li{
  color:red;
}
.nav a{
  text-decoration: none;
  color: var(--color1);
}

.nav a:hover{
  color: var(--color2);
}

h1 {
  font-weight:normal;
  font-size: 1.5em;
}
h2 {
  font-weight: normal;
  font-size: 1.25em;
  color: var(--color1);
}

.active {
  color:red;
}
li a {
  text-decoration:none;
}

.bio-pic {
  float:left;
  size:3rem;
  margin:0 10px 10px 0;
  max-width:20%;
  height:auto;
}

/* ********* CONTACT FORM STYLES ********** */

.contact-form {
  background-color:var(--color4);
  width: 90%;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5%;
}
/* div holding each input field */
.contact-field {
  background-color: var(--color2);
  margin:0, 0;
  border: 1px solid var(--color3);
}

.contact-field:hover {
  margin:0, 0;
  border: 1px solid var(--darker);
}

/* text of the input labels */
label{
  background-color:var(--color2);
  color:var(--color4);
  display:block;
  letter-spacing:1px;
  
}
.input-field {
  border: 1px solid var(--primary-color);
  display: block;
  padding: 7px 15px;
  font-size: 1em;
  color:var(--color5);
  width: 100%;
  margin-bottom: 2%;
  background-color: var(--color1);
}

input:focus {
  border: 1px solid var(--color4);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

textarea {
  width: 600px;
  height: 120px;
  border: 3px solid #cccccc;
  background-color: var(--color1);
  padding: 5px;
}

.error-text {
  text-align:center;
  padding: 2px;
  margin: 2px, 0;
  color: var(--color2);
}



.btn-submit{
  display:block;
  width: 100%;
  background-color: var(--color2);
  color: var(--color4);
  border: 1px solid var(--dark);
  border-radius: 5px;
  font-size: 16px;
  padding: .5rem;
  /* margin: 20px, 10px; */
}


.btn-submit:hover{
  background-color: var(--color3);
  border: 1px solid var(--darker);
  
}

.btn, .btn-resume,.btn-project {
  background-color: var(--color4);
  /* border: 1px solid var(--dark); */
  border-radius: 5px;
  font-size: 1em;
  padding: .5rem;
  color: var(--light);
}

.btn {
  padding-right:1em;;
}
 
.btn-resume a,
.btn-project a {
  color: var(--light);
  background-color: var(--color4);
  text-decoration:none;
}
.btn-project {
  padding: 20px;
  line-height:normal;
}

.btn-project a:hover,
.btn-resume a:hover {
 color:var(--color3);
}

.flex-container {
  display:flex;
  flex-wrap:wrap;
}

.flex-project {
  display:flex;
  flex-wrap:wrap;
  align-items:flex-start;
}

.project-title {
  font-size:1.5em; 
  text-align:center;
  flex-basis:80%;
}

.project-info {
  padding-left:20px;
  padding-top:20px
}
.project-info > h3 {
color: var(--color1);
}



/* ********* FOOTER STYLES ********** */
.footer {
  margin:0;
  margin-top:5px;
}

.horizontal-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none; 
  justify-content:space-evenly;
}

.project-links a {
  color:var(--light);
  vertical-align:middle;
}


.project-links a:hover {
  color:var(--color2);
}


.contact-info a  {
  /* padding: 10px 15px; */
  /* flex: 1;
  flex-basis: content; */
  color: var(--color2);
  font-size: 1em;
}

.contact-info a:hover{
  color: var(--light);
}