* {
  margin: 0 auto;
  max-width: 90%;
}

header {
  width:100%;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:1em;
}
.developer {
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:2rem;
}
.nav {
  font-size: 1.5em;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:2rem;
}

.nav a{
  text-decoration: none;

}