
/* exo-2-regular - latin */

:root {
  /* five color pallette */
  --color1: #d1e8e2;
  --color2: #ffcb9a;
  --color3: #d9b08c;
  --color4: #116466;
  --color5: #2c3531;

  /* accent  */
  --light: var(--color1);
  --dark: var(--color5);
  --darker: #111413;

  
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-three: calc(3rem);
  --spacing-five: calc(2.5rem);
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0 auto;
  max-width: 90%;
  color:var(--color3);
  background-color: var(--darker);
}


body {
  font-family: 'Exo 2', sans-serif;
}


.portfolio-header {
  color: var(--light);

}
header {
  width:100%;
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: space-between;
  padding:var(--spacing-three);
}
.developer {
  font-size: 2em;
  align-items: center;
  justify-content: space-between;
  gap:2rem;
}
.nav {
  font-size: 1.5em;
  list-style: none;
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: space-between;
  gap:2em;
}

.nav a:hover{
  color: var(--pallette-two);
}

.nav a{
  text-decoration: none;
  color: var(--light);
}


.active {
  color:red;
}

.bio-pic {
  size:3rem;
}


.bio-pic {
  float:left;
  margin:0 10px 10px 0;
  max-width:20%;
  height:auto;
}

/* ********* CONTACT FORM STYLES ********** */

.contact-form {
  background-color:var(--color4);
  width: 90%;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5%;
}
/* div holding each input field */
.contact-field {
  background-color: var(--color2);
  margin:0, 0;
  border: 1px solid var(--color3);
}

.contact-field:hover {
  margin:0, 0;
  border: 1px solid var(--darker);
}

/* text of the input labels */
label{
  background-color:var(--color2);
  color:var(--color4);
  display:block;
  letter-spacing:1px;
  
}
.input-field {
  border: 1px solid var(--primary-color);
  display: block;
  padding: 7px 15px;
  font-size: 1em;
  color:var(--color5);
  width: 100%;
  margin-bottom: 2%;
  background-color: var(--color1);
}

input:focus {
  border: 1px solid var(--color4);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

textarea {
  width: 600px;
  height: 120px;
  border: 3px solid #cccccc;
  background-color: var(--color1);
  padding: 5px;
}

.error-text {
text-align:center;
  padding: 2px;
  margin: 2px, 0;
  color: var(--color2);
}
.btn-submit{
  display:block;
  width: 100%;
  background-color: var(--color2);
  color: var(--color4);
  border: 1px solid var(--dark);
  border-radius: 5px;
  font-size: 16px;
  padding: .5rem;
  /* margin: 20px, 10px; */
}


.btn-submit:hover{
  background-color: var(--color3);
  border: 1px solid var(--darker);

}

/* ********* FOOTER STYLES ********** */
.contact-info {
  display: flex;
  flex-wrap: wrap;
  list-style: none; 
  justify-content:flex-end;
}

.contact-info li  {
  /* padding: 10px 15px; */
  flex: 1;
  flex-basis: content;
  color: var(--text-color1);
  font-size: 1em;
}
li a {
  text-decoration:none;
}